.BlogCard {
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
}
