.Navbar {
  top: 0;
  left: 0;
  width: 100vw;
  height: 5rem;
  position: fixed;
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px) saturate(180%);
  border-bottom: 2px solid #e8e8e8;
  background-color: #ffffff70;

  &__left {
    display: flex;
    align-items: center;
    gap: 3rem;

    &--logo {
      font-size: 2rem;
      font-family: "Bebas Neue", cursive;
    }

    &--links {
      display: flex;
      align-items: center;
      font-family: "Poppins", sans-serif;
      justify-content: space-between;
      font-size: 1rem;
      gap: 2rem;

      &-link {
        color: #000;
        padding: 0 0.25rem;
        display: flex;
        align-items: center;
        transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        box-shadow: inset 0 0 0 0 #000;
        position: relative;

        sup {
          font-size: 0.5rem;
        }

        &:hover {
          color: #fff;
          box-shadow: inset 200px 0 0 0 #000;
        }
      }

      &-link:hover span {
        transition: transform 0.15s ease-in-out;
        transform: rotate(180deg);
      }

      &-link:not(:hover) span {
        transition: transform 0.15s ease-in-out;
        transform: rotate(0);
      }
    }
  }

  &__center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Syne", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    // text-transform: uppercase;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 2rem;

    &--user,
    &--user-button {
      width: 35px;
      height: 35px;
      border-radius: 10px;
      border: none;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 10px;
      }
    }

    &--button {
      button {
        background-color: transparent;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-family: "Poppins", sans-serif;
        border: 2px solid #e8e8e8;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: #e8e8e8;
        }
      }
      &-icon {
        height: 1rem;
        width: 1rem;
      }
    }
  }
}
