.HomePage {
  width: 100%;
  height: 100%;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: row;

  // &__left,
  // &__right {
  //   padding: 2rem 2rem;
  // }

  &__left {
    flex: 5;
    border-right: 2px solid #e8e8e8;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 2rem 2rem 0;

    &--search {
      &-input {
        width: 100%;
        height: 3rem;
        border: 2px solid #e8e8e8;
        border-radius: 10px;
        padding: 0 1rem;
        font-size: 1.5rem;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        button {
          border: none;
          background: none;
          outline: none;
          cursor: pointer;
        }

        &-icon {
          color: #e8e8e8;
        }

        input {
          width: 100%;
          height: 100%;
          border: none;
          font-size: 1rem;
          font-family: "Poppins", sans-serif;

          &:focus {
            outline: none;
            border: none;
          }
        }
      }
    }

    &--header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      h1 {
        font-size: 1.5rem;
        font-weight: 500;
        font-family: "Syne", sans-serif;
      }
    }

    &--divider {
      height: 2px;
      background-color: #e8e8e8;
      border: none;
    }

    &--blogs {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__right {
    flex: 2;
    // border-left: 1px solid #e8e8e8;
    min-height: 100%;
    padding: 2rem 0 2rem 2rem;

    &--interestedPeople {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      h1 {
        font-size: 1.5rem;
        font-weight: 500;
        font-family: "Syne", sans-serif;
      }
    }

    &--profile {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &-details {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        img {
          width: 35px;
          height: 35px;
          border-radius: 10px;
        }
      }

      &-text {
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 1rem;
          font-weight: 500;
          font-family: "Syne", sans-serif;
        }

        p {
          font-size: 0.8rem;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
        }
      }

      &-follow {
        button {
          padding: 0.5rem 1rem;
          background-color: transparent;
          border: 2px solid #e8e8e8;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: #e8e8e8;
          }
        }
      }

      &-icon {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
